//background
$primary-background: #808080;
$secondary-background: #ffffff;

$input-background: #80808034;
$overlay-background: rgba(0, 0, 0, 0.8);

$btn-background: #1286ca;
$secondary-btn-background: #ffa500;
$apply-btn-background: #12ac3e;
$delete-btn-background: #f80505;
$lastStep-btn-background: #bbb3b3;

//border
$primary-border: #000000;
//accent
$primary-accent-background: #808080;

$primary-accent-text-color: #ffffff;

$btn-accent-background: #065a8a;
$secondary--btn-accent-background: #f0e68c;
$apply-btn-accent-background: #05922d;
$delete-btn-accent-background: #ae4848;
$lastStep-btn-accent-background: #acaaaa;

//text-color
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
