@import 'style/shared';
.Container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  max-width: 550px;
  background-color: $primary-text-color;
}
.MainNav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item{
  padding: 10px 5px;
  color: black;
  border-radius: 10px;
  &:hover,
  &:focus {
    background-color: $btn-accent-background;
    color: $primary-text-color;
  }
}
.SignBox{
  margin-left: 180px;
}
.Item+.Item{
  margin-left: 40px;
}
