@import 'style/shared';
.Section {
  padding: 10px 0;
  text-align: center;
}
.Container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $secondary-background;
}
.Title {
  margin: 0 0 20px 0;
}
.Loading {
  svg {
    margin: 0 auto;
  }
}